@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

// order: base photography >general layout > grid >> page layout > components
// 1em =16px
@mixin respond($breakpoint) {
    @if($breakpoint ==phone) {

        // <=600px
        @media (max-width: 37.5em) {
            @content
        }

        ;
    }

    @if($breakpoint ==tab-port) {

        // <=900px
        @media (max-width: 56.25em) {
            @content
        }

        ;
    }

    @if($breakpoint ==tab-land) {

        // <=1200px
        @media (max-width: 75em) {
            @content
        }

        ;
    }

    @if($breakpoint ==big-desktop) {

        // >=1800px
        @media (min-width: 112.5em) {
            @content
        }

        ;
    }
}